<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <context:component-scan base-package="cn.e3mall.search.service"/>

    <!-- 使用dubbo发布服务 -->
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="e3-search" />
    <dubbo:registry protocol="zookeeper"
                    address="192.168.1.130:2181" />
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <!--不能冲突，一个spring容器会开启一个端口号，用dubbo发布一个服务，改成20881-->
    <!--这里的服务可以使用main方法，只要起到部署服务就好了，tomcat的作用就是初始化spring容器
        但是如果写main方法启动spring容器的话，就没有聚合工程了，子工程全打成jar包，一个个部署
        贼麻烦，所以这个tomcat作用就是为了方便初始化spring容器，spring容器用来发布dubbo服务
    -->
    <dubbo:protocol name="dubbo" port="20882" />
    <!-- 声明需要暴露的服务接口，服务名，实现类的首字母小写 -->
    <!--超时设置，默认1秒-->
    <!--<dubbo:service interface="cn.e3mall.service.ItemService" ref="itemServiceImpl" timeout="10000"/>-->
</beans>
